*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}   
.header {
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
}
.side-nav {
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px  30px;
}
.title {
    margin-top: 20px;
    margin-bottom: 130px;
    color: #fff;
}
.nav-links {
    list-style: none;
    position: relative;
}
.nav-links li {
    padding: 10px 0;
    cursor: pointer;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-self: center;
}
.nav-links li a {
    font-size: 18px;
    margin-right: 20px;
}
.nav-links li:hover a {
    color: #0d74f5;
    transition: 0.3s;
}
.active {
    background: #fff;
    width: 120px;
    height: 35px;
    position: absolute;
    left: -5%;
    top: 2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(255, 255, 255, 0.4);
    display: none;
}
.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~.active {
    top: 1.5%;
    width: 162px;
}
.nav-links li:nth-child(2):hover ~.active {
    top: 21%;
    width: 132px;
}
.nav-links li:nth-child(3):hover ~.active {
    top: 41%;
    width: 136px;
}
.nav-links li:nth-child(4):hover ~.active {
    top: 61%;
    width: 153px;
}
.nav-links li:nth-child(5):hover ~.active {
    top: 81.1%;
    width: 122px;
}
.logo {
    height:115px;
    width: 115px;
    fill:#fff !important;
    margin-bottom: 85px;
}
.icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: -5px;
    margin-right: 12px;
}
