*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.available-content-conatiner {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 14.5%;
  top: -1%;
  background-color: #ebe9e9;
}
.available-header {
  display: flex;
  width: 96%;
  height: 60px;
  background-color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: flex-start;
  color: #234E6D;
}
.available-body {
  display: flex;
  width: 96%;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  gap: 5px;
}
.available-insert-button {
  background-color: #339933;
  color: #fff;
  padding: 8px 8px;
  border-radius: 8px;
}
.available-insert-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
.available-header h3 {
  width: 95%;
}
#available-insert-Modal {
  display: none;
  width: 85%;
  height: 110%;
  top: 0%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#available-insert-Modal .available-insert-modal-content {
  max-width:13.5%;
  background-color: #234E6D;
  padding: 12px 12px;
  border-radius: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 35%;
  color: #fff;
  font-size: 15px;
}
#available-insert-Modal .available-insert-modal-content input {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 7px;
  padding: 5px 5px;
  font-size: 15px;
  margin-top: 5px;
}
#available-insert-Modal .available-insert-popup-button-container {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
}
#available-insert-Modal .available-insert-popup-insert-button {
  background-color: #339933;
  width: fit-content;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin-left: 10%;
}
#available-insert-Modal .available-insert-popup-close-button {
  background-color: #ff0000;
  width: fit-content;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin-left: 15%;
}
#available-insert-Modal .available-insert-popup-close-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
#available-insert-Modal .available-insert-popup-insert-button:hover {
  cursor: pointer;
  transform: translateY(-2px);
}
