<head>
  <link rel="stylesheet" type="text/css" href="app.component.css">
  <script src="https://kit.fontawesome.com/c9e4327fe5.js" crossorigin="anonymous"></script>
  <title>Parking Application</title>
</head>
<body>
  <div class="container">
    <div class="side-nav">
      <img class="logo" src="assets/logo-0.svg" alt="Logo" (click)="changeContentPage('dashboard')"/>
      <ul class="nav-links">
          <li (mouseover)="changeUserURL('assets/user-hover-3.svg')" (mouseout)="changeUserURL('assets/user-0.svg')">
            <a (click)="changeContentPage('total-spaces')"><img class="icon" [src]="userImage" alt="Users Icon"/><p>Total Spaces</p></a>
          </li>
          <li (mouseover)="changeAvailableURL('assets/available-hover-3.svg')" (mouseout)="changeAvailableURL('assets/available-0.svg')">
            <a (click)="changeContentPage('available')"><img class="icon" [src]="availableImage" alt="Available Icon"/><p>Available Spaces</p></a>
          </li>
          <li (mouseover)="changeOccupiedURL('assets/occupied-hover-3.svg')" (mouseout)="changeOccupiedURL('assets/occupied-0.svg')">
            <a (click)="changeContentPage('occupied')"><img class="icon" [src]="occupiedImage" alt="Occupied Icon"/><p>Occupied Spaces</p></a>
          </li>
          <li (mouseover)="changeCalendarURL('assets/calendar-hover-3.svg')" (mouseout)="changeCalendarURL('assets/calendar-0.svg')">
            <a><img class="icon" [src]="calendarImage" alt="Calendar Icon"/><p>Waiting List</p></a>
          </li>
          <li (mouseover)="changeReportURL('assets/report-hover-3.svg')" (mouseout)="changeReportURL('assets/report-0.svg')">
            <a><img class="icon" [src]="reportImage" alt="Pie Chart Icon"/><p>Reports</p></a>
          </li>
          <div class="active"></div>
      </ul>
    </div>
    <div *ngIf="contentPage==='dashboard'" class="content-container">
      <div class="header">
        <h3>Dashboard</h3>
      </div>
      <div class="today">
        <div class="today-data-container">
          <div (click)="changeContentPage('total-spaces')" class="today-card-1">
            <h1>50</h1><br>
            <h3>Total Spaces</h3>
          </div>
          <div (click)="changeContentPage('available')" class="today-card-2">
            <h1>50</h1><br>
            <h3>Available Spaces</h3>
          </div>
          <div (click)="changeContentPage('occupied')" class="today-card-3">
            <h1>50</h1><br>
            <h3>Occupied Spaces</h3>
          </div>
          <div class="today-card-4">
            <h1>50</h1><br>
            <h3>Waiting List</h3>
          </div>
        </div>
      </div>
    </div>
    <app-available *ngIf="contentPage=='available'"></app-available>
    <div *ngIf="contentPage=='occupied'" class="occupied-content-container">
      <div class="occupied-header">
        <h3>Occupied Spaces</h3>
        <h4 class="occupied-insert-button" (click)="openInsertPopup('available-insert-Modal')">Insert</h4>
      </div>
      <div class="occupied-body">
        <div *ngFor="let parkingLot of parkingData; let i = index" class="occupied-card" [style.background-color]="backgroundColors[i % backgroundColors.length]" (click)="openViewPopup('occupied-view-Modal', parkingLot.id, parkingLot.name, parkingLot.startDate, parkingLot.endDate, i % backgroundColors.length, parkingLot.phone, parkingLot.email, parkingLot.carBrand, parkingLot.carNumber)">
          <h3>{{ parkingLot.id }}</h3><br>
          <p>{{ parkingLot.name }}</p>
          <p>From {{ parkingLot.startDate }}</p>
          <p>Until {{ parkingLot.endDate }}</p>
        </div>
      </div>
      <div id="occupied-insert-Modal" class="Modal">
        <form class="occupied-insert-modal-content">
          <h2>Insert New Parking</h2><br>
          <label>Parking Id:</label>
          <input type="text" name="parkingId" [(ngModel)]="insertParkingId">
          <label>Occupant's Name:</label>
          <input type="text" name="name" [(ngModel)]="insertName">
          <label>Start Date:</label>
          <input type="date" name="startDate" [(ngModel)]="insertStartDate">
          <label>End Date:</label>
          <input type="date" name="endDate" [(ngModel)]="insertEndDate">
          <label>Phone:</label>
          <input type="text" name="phone" [(ngModel)]="insertPhone">
          <label>Email:</label>
          <input type="text" name="email" [(ngModel)]="insertEmail">
          <label>Car Brand:</label>
          <input type="text" name="carBrand" [(ngModel)]="insertCarBrand">
          <label>Car Number:</label>
          <input type="text" name="carNumber" [(ngModel)]="insertCarNumber">
          <div class="occupied-insert-popup-button-container"><br>
            <h4 class="occupied-insert-popup-insert-button" (click)="addParkingData()">Insert</h4>
            <h4 class="occupied-insert-popup-close-button" (click)="closePopup('occupied-insert-Modal')">Close</h4>
          </div>
        </form>
        <div class="occupied-popup-close" (click)="closePopup('occupied-insert-Modal')"></div>
      </div>
      <div id="occupied-view-Modal" class="Modal">
        <div class="occupied-view-card" [style.background-color]="selectedBackgroundColor">
          <h1>{{ selectedId }}</h1><br>
          <h2>{{ selectedName }}</h2>
          <h4>From {{ selectedStartDate }}</h4>
          <h4>Until {{ selectedEndDate }}</h4>
          <h4>2 Months</h4>
          <h4>20 days left</h4>
          <h4>{{ selectedPhone }}</h4>
          <h4>{{ selectedEmail }}</h4>
          <h4>{{ selectedCarBrand}}</h4>
          <h4>{{ selectedCarNumber}}</h4>
          <div class="occupied-view-card-button-container"><br>
            <h4 class="occupied-view-popup-button-edit-button" (click)="openInsertPopup('occupied-edit-Modal')">Edit</h4>
            <h4 class="occupied-view-popup-button-close-button" (click)="deleteParkingData()">Delete</h4>
          </div>
        </div>
        <div class="occupied-popup-close" (click)="closePopup('occupied-view-Modal')"></div>
      </div>
      <div id="occupied-edit-Modal" class="Modal">
        <div id="occupied-edit-card" [style.background-color]="selectedBackgroundColor">
          <label>Id:</label>
          <input type="text" name="name" [(ngModel)]="tempId">
          <label>Name:</label>
          <input type="text" name="name" [(ngModel)]="tempName">
          <label>Start Date:</label>
          <input type="text" name="name" [(ngModel)]="tempStartDate">
          <label>End Date:</label>
          <input type="text" name="name" [(ngModel)]="tempEndDate">
          <label>Phone:</label>
          <input type="text" name="name" [(ngModel)]="tempPhone">
          <label>Email:</label>
          <input type="text" name="name" [(ngModel)]="tempEmail">
          <label>Car Brand:</label>
          <input type="text" name="name" [(ngModel)]="tempCarBrand">
          <label>Car Number:</label>
          <input type="text" name="name" [(ngModel)]="tempCarNumber">
          <div class="occupied-edit-popup-button-container">
            <h4 class="occupied-edit-popup-apply-button" (click)="applyEditPopup()">Apply</h4>
            <h4 class="occupied-edit-popup-back-button" (click)="closePopup('occupied-edit-Modal')">Back</h4>
          </div>
        </div>
        <div class="occupied-popup-close" (click)="closePopup('occupied-edit-Modal')"></div>
      </div>
    </div>
  </div>
</body>
