<head>
  <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
  <div class="title-container">
    <h3><b>Parking Data</b></h3>
    <a>Available Parking</a>
    <a>Occupied Parking</a>
    <a class="function-button" (click)="addParkingData()">Insert Parking</a>
  </div>
  <div class="content-container">
    <div class="summary-container">
      <h4>Summary</h4>
      <p>Total Records: {{ getParkingDataLength()}}</p>
      <p>Occupied Slots: 25</p>
      <p>Available Slots: 25</p>
    </div>
    <div class="table-container">
     <app-data-component></app-data-component>
    </div>
  </div>
</body>
