
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Side Nav */

.side-nav {
    width: 15%;
    height: 100%;
    background: #234E6D;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 15px;
}
.side-nav p {
    font-size: 15px;
}
.title {
    margin-top: 20px;
    margin-bottom: 130px;
    color: #fff;
}
.nav-links {
    list-style: none;
    position: relative;
}
.nav-links li {
    padding: 10px 0;
    cursor: pointer;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-self: center;
}
.nav-links li a {
    font-size: 18px;
    margin-right: 20px;
}
.nav-links li:hover a {
    color: #7D7463;
    transition: 0.3s;
}
.active {
    background: #fff;
    width: 120px;
    height: 35px;
    position: absolute;
    left: -2%;
    top: 2%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(255, 255, 255, 0.4);
    display: none;
}
.nav-links li:hover ~ .active {
    display: block;
}
.nav-links li:nth-child(1):hover ~.active {
    top: 1.5%;
    width: 145px;
}
.nav-links li:nth-child(2):hover ~.active {
    top: 21%;
    width: 174px;
}
.nav-links li:nth-child(3):hover ~.active {
    top: 41%;
    width: 177px;
}
.nav-links li:nth-child(4):hover ~.active {
    top: 61%;
    width: 137px;
}
.nav-links li:nth-child(5):hover ~.active {
    top: 81.1%;
    width: 112px;
}
.logo {
    height: 85px;
    width: 85px;
    fill:#fff !important;
    margin-bottom: 85px;
}
.logo:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
.icon {
    height: 30px;
    width: 30px;
    position: relative;
    top: -5px;
    margin-right: 12px;
}













/* Dashboard */

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 15%;
    background-color: #ebe9e9;
}
.header {
    display: flex;
    background-color: #fff;
    width: 83%;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    color: #234E6D;
    align-items: center;
}
.today {
    background-color: #fff;
    width: 83%;
    height: 155px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    color: #ff0000;
}
.today-data-container {
    display: flex;
}
.today-card-1 {
    display: flex;
    flex-direction: column;
    background-color: #7D7463;
    width:25%;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    color: #fff;
    padding: 15px 20px;
}
.today-card-2 {
    display: flex;
    flex-direction: column;
    background-color: #dabb83;
    width:25%;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}
.today-card-3 {
    display: flex;
    flex-direction: column;
    background-color: #A8A196;
    width:25%;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}
.today-card-4 {
    display: flex;
    flex-direction: column;
    background-color: #7D7463;
    width:25%;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}
.today-card-1:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.today-card-2:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.today-card-3:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
.today-card-4:hover {
    cursor: pointer;
    transform: translateY(-3px);
}











/* Occupied */

.occupied-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 15%;
    background-color: #ebe9e9;
}
.occupied-header {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 83%;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    color: #234E6D    ;
    align-items: center;
    justify-content: flex-start;
}
.occupied-insert-button {
    background-color: #339933;
    color: #fff;
    padding: 8px 8px;
    border-radius: 8px;
}
.occupied-header h3 {
    width: 95%;
}
.occupied-insert-button:hover {
    cursor: pointer;
  transform: translateY(-1px);
}
.occupied-body {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 83%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    gap: 5px;
    overflow-y: auto;
}
.occupied-card {
    display: flex;
    flex-direction: column;
    width: 145px;
    height: 125px;
    border-radius: 8px;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.occupied-card-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
}
.occupied-card-header img {
  margin-left: auto;
}
.occupied-card p {
    padding-bottom: 5px ;
}
.occupied-card:hover {
    cursor: pointer;
    transform: translateY(-3px);
}
#occupied-insert-Modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#occupied-insert-Modal .occupied-insert-modal-content {
  max-width:13.5%;
  background-color: #234E6D;
  padding: 12px 12px;
  border-radius: 5%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 27.7%;
  color: #fff;
  font-size: 15px;
}
#occupied-insert-Modal .occupied-insert-modal-content input {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 7px;
  padding: 5px 5px;
  font-size: 15px;
  margin-top: 5px;
}
#occupied-insert-Modal .occupied-insert-popup-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 16px;
}
#occupied-insert-Modal .occupied-insert-popup-insert-button {
  background-color: #339933;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-left: 10%;
}
#occupied-insert-Modal .occupied-insert-popup-insert-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
}
#occupied-insert-Modal .occupied-insert-popup-close-button {
  background-color: #ff0000;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10%;
  margin-left: 30%;
}
#occupied-insert-Modal .occupied-insert-popup-close-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
}
#occupied-view-Modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.occupied-popup-close {
  width: 100%;
  height: 100%;
}
#occupied-view-Modal .occupied-view-card {
  background-color: #fff;
  width: 250px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 5%;
  left: 27.7%;
}
#occupied-view-Modal .occupied-view-card-button-container {
  display: flex;
  margin-top: 15%;
}
#occupied-view-Modal .occupied-view-popup-button-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  width: 130px;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10%;
  margin-left: 15%;
}
#occupied-view-Modal .occupied-view-popup-button-close-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
}
#occupied-view-Modal .occupied-view-popup-button-edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8a908;
  width: 130px;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10%;
}
#occupied-view-Modal .occupied-view-popup-button-edit-button:hover {
  cursor: pointer;
  transform: translateY(-1px);
}
#occupied-view-Modal .occupied-view-card h4 {
  margin-top: 7px;
  font-size: 150%;
}
#occupied-view-Modal .occupied-view-card h1 {
  font-size: 350%;
}
#occupied-view-Modal .occupied-view-card h2 {
  font-size: 250%;
  padding-bottom: 5px;
}
#occupied-edit-Modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}
div#occupied-edit-card {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 13px 13px;
  border-radius: 6px;
  position: absolute;
  left: 27.7%;
  top: 5%;
}
div#occupied-edit-card input {
  font-size: 17px;
  margin-top: 3px;
  margin-bottom: 7px;
  border-radius: 4px;
  padding: 3px 3px;
}
#occupied-edit-Modal .occupied-edit-popup-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
#occupied-edit-Modal .occupied-edit-popup-back-button {
  background-color: #ff0000;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10%;
  margin-left: 14%;
}
#occupied-edit-Modal .occupied-edit-popup-back-button:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
#occupied-edit-Modal .occupied-edit-popup-apply-button {
  background-color: #339933;
  width: fit-content;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10%;
  margin-left: 10%;
}
#occupied-edit-Modal .occupied-edit-popup-apply-button:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

