.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 230px;
    background-color: #ebe9e9;
}
.header {
    background-color: #fff;
    width: 1000px;
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    color: #ff0000;
}
.today {
    background-color: #fff;
    width: 1000px;
    height: 125px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
    color: #ff0000;
}
.today-data-container {
    display: flex;
}
.today-card-1 {
    display: flex;
    flex-direction: column;
    background-color: #7D7463;
    width: 300px;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    color: #fff;
}
.today-card-2 {
    display: flex;
    flex-direction: column;
    background-color: #dabb83;
    width:300px;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}
.today-card-3 {
    display: flex;
    flex-direction: column;
    background-color: #A8A196;
    width: 300px;
    height: 115px;
    margin: 5px;
    border-radius: 8px;
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}
.today-card-4 {
    display: flex;
    flex-direction: column;
    background-color: #7D7463;
    width:300px;
    height: 115px;
    margin: 5px;
    border-radius: 8px; 
    justify-content: left;
    padding: 15px 20px;
    color: #fff;
}